In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as sm

In [2]:
dftrain=pd.read_csv('C:/Users/student/Downloads/AAATrain.csv')

In [3]:
dftest=pd.read_csv('C:/Users/student/Downloads/AAATest.csv')

In [5]:

model = sm.logit(formula='travel_destination_EUR ~  travel_travel_type_Ship + travel_revenue_index+\
travel_tripvalue_index + ers_services_count + one_booking+ travel_travel_month_8 +travel_travel_type_Insurance +\
travel_provide_name_best_western_inl + travel_channel_BRANCH + travel_channel_EVENT +\
travel_channel_WEB +travel_dom_int_D', data=dftrain).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.037775
         Iterations 11
                             Logit Regression Results
==================================================================================
Dep. Variable:     travel_destination_EUR   No. Observations:                45800
Model:                              Logit   Df Residuals:                    45787
Method:                               MLE   Df Model:                           12
Date:                    Mon, 15 Jul 2024   Pseudo R-squ.:                  0.4724
Time:                            22:16:59   Log-Likelihood:                -1730.1
converged:                           True   LL-Null:                       -3278.9
Covariance Type:                nonrobust   LLR p-value:                     0.000
========================================================================================================
                                           coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------
Intercept                               -4.9107      0.231    -21.270      0.000      -5.363      -4.458
travel_travel_type_Ship                  3.5641      0.131     27.288      0.000       3.308       3.820
travel_revenue_index                     0.0407      0.026      1.580      0.114      -0.010       0.091
travel_tripvalue_index                   0.0387      0.019      2.022      0.043       0.001       0.076
ers_services_count                      -0.1339      0.066     -2.015      0.044      -0.264      -0.004
one_booking                             -0.2964      0.159     -1.867      0.062      -0.608       0.015
travel_travel_month_8                   -0.0515      0.129     -0.401      0.689      -0.304       0.201
travel_travel_type_Insurance             1.2881      0.131      9.828      0.000       1.031       1.545
travel_provide_name_best_western_inl    -1.2945      1.036     -1.249      0.212      -3.326       0.737
travel_channel_BRANCH                    0.1412      0.096      1.472      0.141      -0.047       0.329
travel_channel_EVENT                     0.6777      0.233      2.911      0.004       0.221       1.134
travel_channel_WEB                      -1.5730      0.224     -7.019      0.000      -2.012      -1.134
travel_dom_int_D                        -1.7061      0.134    -12.711      0.000      -1.969      -1.443
========================================================================================================

In [6]:

Xtest = dftest[['travel_travel_type_Ship' , 'travel_revenue_index', 'travel_tripvalue_index',\
'ers_services_count','one_booking','travel_travel_month_8','travel_travel_type_Insurance',\
'travel_provide_name_best_western_inl','travel_channel_BRANCH','travel_channel_EVENT',\
'travel_channel_WEB','travel_dom_int_D']]
ytest = dftest['travel_destination_EUR']
  
total_yhat = model.predict(Xtest)

In [7]:
dftest['total_yhat'] = total_yhat

In [8]:
print(total_yhat)

0        0.000223
1        0.000634
2        0.001073
3        0.000223
4        0.001189
           ...
45795    0.000379
45796    0.000214
45797    0.009266
45798    0.006115
45799    0.000282
Length: 45800, dtype: float64

In [9]:

dftest = dftest.sort_values(by = 'total_yhat', ascending = False)

In [10]:
dftest['Total_Quintile'] = pd.qcut(dftest['total_yhat'].rank(method='first'), 5, labels=[i for i in range (5, 0, -1)])

In [11]:
print(dftest['Total_Quintile'])

5684     1
16380    1
7808     1
20722    1
20818    1
        ..
40899    5
18549    5
3015     5
35559    5
2174     5
Name: Total_Quintile, Length: 45800, dtype: category
Categories (5, int64): [5 < 4 < 3 < 2 < 1]

In [12]:
dftest['Total_Quintile'] = dftest['Total_Quintile'].astype('int')

In [13]:
dftest['Total_Quintile'].value_counts().reset_index(name='count')

   index  count
0      1   9160
1      2   9160
2      3   9160
3      4   9160
4      5   9160

In [14]:

europe_travelers = pd.crosstab(dftest['Total_Quintile'], dftest['travel_destination_EUR'], normalize='index')

In [15]:
print(europe_travelers)

travel_destination_EUR         0         1
Total_Quintile
1                       0.935917  0.064083
2                       0.999672  0.000328
3                       0.999891  0.000109
4                       1.000000  0.000000
5                       1.000000  0.000000

In [16]:
dftest.to_csv('C:/Users/student/Downloads/DFTest.csv')

In [16]:
dftest.head(3)

,Unnamed: 0,Unnamed: 0.1,travel_individual_id,travel_total_bookings,travel_num_cancelled_bookings,travel_num_active_bookings,travel_daysbetween_booking_depart,travel_revenue_index,travel_tripvalue_index,travel_provide_name_american_airlines_inc,...,13 - 16 years,17 - 27 years,28 - 38 years,39 - 49 years,5 - 8 years,50+ years,9 - 12 years,Unknown.4,total_yhat,Total_Quintile
27181,54148,54148,18062235,15,1,14,199.40,27,41,1,...,0,0,1,0,0,0,0,0,0.711484,1
20722,41252,41252,13114567,32,18,14,63.09,11,69,0,...,1,0,0,0,0,0,0,0,0.675785,1
4235,8525,8525,280449911,9,1,8,350.00,18,26,0,...,0,1,0,0,0,0,0,0,0.597673,1