In [20]:
import pandas as pd
import numpy as np

In [21]:
df=pd.read_csv("AAA_Travel_file2.csv")

In [22]:
pd.set_option('display.max_rows', None)

In [23]:
numerical_df = df.select_dtypes(include='number')

# Alternatively, you can combine both into a single DataFrame for better readability
min_max_df = pd.DataFrame({'min': numerical_df.min(), 'max': numerical_df.max()})
print("Minimum and maximum values of each numerical column:")
print(min_max_df)

Minimum and maximum values of each numerical column:
                                                     min           max
Unnamed: 0                                           0.0  9.159900e+04
travel_individual_id                               233.0  8.290691e+08
travel_total_bookings                                1.0  5.500000e+01
travel_num_cancelled_bookings                        0.0  4.400000e+01
travel_num_active_bookings                           0.0  4.900000e+01
travel_daysbetween_booking_depart                    1.0  1.298000e+03
travel_revenue_index                                 0.0  4.800000e+01
travel_tripvalue_index                               1.0  1.500000e+02
travel_provide_name_american_airlines_inc            0.0  1.000000e+00
travel_provide_name_bedsonline_travel_bound          0.0  1.000000e+00
travel_provide_name_best_western_inl                 0.0  1.000000e+00
travel_provide_name_delta_airlines_inc               0.0  1.000000e+00
travel_provide_name_dollar_rent_a_car                0.0  1.000000e+00
travel_provide_name_hampton_inns                     0.0  1.000000e+00
travel_provide_name_hertz_corporation                0.0  1.000000e+00
travel_provide_name_holiday_inns                     0.0  1.000000e+00
travel_provide_name_jetblue_airways                  0.0  1.000000e+00
travel_provide_name_norwegian_cruise_line            0.0  1.000000e+00
travel_provide_name_pleasant_holidays                0.0  1.000000e+00
travel_provide_name_royal_caribbean_international    0.0  1.000000e+00
travel_provide_name_southwest_airlines_co            0.0  0.000000e+00
travel_provide_name_thrifty_car_rental               0.0  1.000000e+00
travel_provide_name_travel_impressions               0.0  1.000000e+00
travel_provide_name_united_airlines                  0.0  1.000000e+00
travel_provide_name_viator                           0.0  1.000000e+00
travel_channel_BRANCH                                0.0  1.000000e+00
travel_channel_EMAIL                                 0.0  1.000000e+00
travel_channel_EVENT                                 0.0  1.000000e+00
travel_channel_PHONE                                 0.0  1.000000e+00
travel_channel_WEB                                   0.0  1.000000e+00
travel_travel_type_Air                               0.0  1.000000e+00
travel_travel_type_Car                               0.0  1.000000e+00
travel_travel_type_Hotel                             0.0  1.000000e+00
travel_travel_type_Insurance                         0.0  1.000000e+00
travel_travel_type_Other                             0.0  1.000000e+00
travel_travel_type_Ship                              0.0  1.000000e+00
travel_travel_type_Tour                              0.0  1.000000e+00
travel_travel_month_1                                0.0  1.000000e+00
travel_travel_month_2                                0.0  1.000000e+00
travel_travel_month_3                                0.0  1.000000e+00
travel_travel_month_4                                0.0  1.000000e+00
travel_travel_month_5                                0.0  1.000000e+00
travel_travel_month_6                                0.0  1.000000e+00
travel_travel_month_7                                0.0  1.000000e+00
travel_travel_month_8                                0.0  1.000000e+00
travel_travel_month_9                                0.0  1.000000e+00
travel_travel_month_10                               0.0  1.000000e+00
travel_travel_month_11                               0.0  1.000000e+00
travel_travel_month_12                               0.0  1.000000e+00
individual_count_clicks_opens                        0.0  3.774000e+03
individual_age                                       0.0  1.060000e+02
individual_total_email_subscribe                     0.0  1.400000e+01
benefit_year                                         0.0  2.023000e+03
benefit_num_discounts                                0.0  1.240000e+02
benefit_discount_amount                              0.0  2.587380e+03
benefit_discount_type_ebg_aaa_tickets                0.0  1.000000e+00
benefit_discount_type_goodrx                         0.0  0.000000e+00
benefit_discount_type_parking_spot                   0.0  1.000000e+00
benefit_discount_type_penske                         0.0  1.000000e+00
benefit_discount_type_shell                          0.0  1.000000e+00
benefit_discount_type_ticket_monster                 0.0  0.000000e+00
ers_year                                             0.0  2.023000e+03
ers_services_count                                   0.0  5.000000e+01
ers_unique_service_count                             0.0  6.000000e+00
ers_ers_service_battery                              0.0  1.000000e+00
ers_ers_service_extrication                          0.0  1.000000e+00
ers_ers_service_flat_tire                            0.0  1.000000e+00
ers_ers_service_fuel                                 0.0  1.000000e+00
ers_ers_service_jump_start                           0.0  1.000000e+00
ers_ers_service_lockout                              0.0  1.000000e+00
ers_ers_service_locksmith                            0.0  1.000000e+00
ers_ers_service_tow                                  0.0  1.000000e+00
insurance_policy_count                               0.0  9.000000e+00
insurance_insurance_homeowners                       0.0  1.000000e+00
insurance_insurance_life                             0.0  1.000000e+00
insurance_insurance_motorcycle                       0.0  1.000000e+00
insurance_insurance_personal_automobile              0.0  1.000000e+00
insurance_insurance_personal_umbrella                0.0  1.000000e+00
insurance_insurance_renters_(ho4)                    0.0  1.000000e+00
insurance_insurance_watercraft                       0.0  1.000000e+00
travel_credits_Not Used                              0.0  2.000000e+00
travel_credits_Used                                  0.0  1.000000e+00
travel_dom_int_D                                     0.0  1.000000e+00
travel_dom_int_I                                     0.0  1.000000e+00
travel_destination_EUR                               0.0  1.000000e+00
travel_destination_FLL                               0.0  1.000000e+00
travel_destination_LAS                               0.0  1.000000e+00
travel_destination_LAX                               0.0  1.000000e+00
travel_destination_MCO                               0.0  1.000000e+00
travel_destination_MIA                               0.0  1.000000e+00
travel_destination_ORL                               0.0  1.000000e+00
travel_destination_PBI                               0.0  1.000000e+00
travel_destination_RSW                               0.0  1.000000e+00
travel_destination_SAN                               0.0  1.000000e+00
travel_destination_TPA                               0.0  1.000000e+00
Florida                                              0.0  1.000000e+00
SoCal                                                0.0  1.000000e+00

In [24]:
df['days_between'] = pd.cut(df['travel_daysbetween_booking_depart'],
                bins=[-float('Inf'), 31, 100, 250, float('Inf')],
                labels=['0-31 Days', '31-100 Days', '100-250 Days', '>250 Days'])
just_dummies = pd.get_dummies(df['days_between'], dtype=int)
df = pd.concat([df, just_dummies], axis=1) 
df['days_between'].describe()

count         91600
unique            4
top       0-31 Days
freq          46115
Name: days_between, dtype: object

In [25]:
df[['0-31 Days', '31-100 Days', '100-250 Days', '>250 Days']].describe()

          0-31 Days   31-100 Days  100-250 Days     >250 Days
count  91600.000000  91600.000000  91600.000000  91600.000000
mean       0.503439      0.296954      0.155044      0.044563
std        0.499991      0.456919      0.361948      0.206344
min        0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000
50%        1.000000      0.000000      0.000000      0.000000
75%        1.000000      1.000000      0.000000      0.000000
max        1.000000      1.000000      1.000000      1.000000

In [26]:
df['rev_index'] = pd.cut(df['travel_revenue_index'],
                bins=[-1, 0, 12, 24, 36, float('Inf')],
                labels=['Missing_Trav_Rev', 'Quartile_1', 'Quartile_2', 'Quartile_3', 'Quartile_4'])
just_dummies = pd.get_dummies(df['rev_index'], dtype=int)
df = pd.concat([df, just_dummies], axis=1) 
df['rev_index'].describe()

count          91600
unique             5
top       Quartile_1
freq           62807
Name: rev_index, dtype: object

In [28]:
df[['Missing_Trav_Rev','Quartile_1', 'Quartile_2', 'Quartile_3', 'Quartile_4']].describe()

,Missing_Trav_Rev,Quartile_1,Quartile_2,Quartile_3,Quartile_4
count,91600.000000,91600.000000,91600.000000,91600.000000,91600.000000
mean,0.312271,0.685666,0.001889,0.000164,0.000011
std,0.463422,0.464253,0.043418,0.012796,0.003304
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000

In [29]:
np.random.seed(42)
dftrain = df.sample(frac=0.5,random_state=0)
dftest = df.drop(dftrain.index)

In [31]:
dftrain.to_csv('AAATrain.csv')
dftest.to_csv('AAATest.csv')

In [ ]:
df=pd.read_csv("AAATrain.csv")

In [ ]:
df.head()

In [ ]:
print(df.isnull().sum())

In [ ]:
df = pd.get_dummies(df, drop_first=True)

In [ ]:
df.head()