In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:/Users/tdougherty1/OneDrive - Bryant University\Desktop/MSBA Summer 24/AAA Files/AAA_Travel_file1.csv")

In [3]:

    columns = [
        'travel_destination_FLL', 'travel_destination_MCO',
        'travel_destination_MIA', 'travel_destination_ORL', 'travel_destination_PBI', 
        'travel_destination_RSW', 'travel_destination_TPA'
    ]
    
    # Calculate the sum of the specified columns
    subset_sum = df[columns].sum(axis=1)
    
    # Create a new column 'Florida'
    df['Florida'] = subset_sum.apply(lambda x: 1 if x > 0 else 0)

In [7]:

    columns1 = [
        'travel_destination_LAX', 'travel_destination_SAN',

    ]
    
    # Calculate the sum of the specified columns
    subset_sum1 = df[columns1].sum(axis=1)
    
    # Create a new column 'SoCal'
    df['SoCal'] = subset_sum1.apply(lambda x: 1 if x > 0 else 0)

In [8]:
df.head()

,travel_individual_id,travel_total_bookings,travel_num_cancelled_bookings,travel_num_active_bookings,travel_daysbetween_booking_depart,travel_revenue_index,travel_tripvalue_index,travel_provide_name_american_airlines_inc,travel_provide_name_bedsonline_travel_bound,travel_provide_name_best_western_inl,...,travel_destination_LAX,travel_destination_MCO,travel_destination_MIA,travel_destination_ORL,travel_destination_PBI,travel_destination_RSW,travel_destination_SAN,travel_destination_TPA,Florida,SoCal
0,32714309,1,0,1,3.00,1,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,34072473,3,1,2,20.67,0,7,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,270300690,1,0,1,25.00,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,34133332,1,0,1,5.00,2,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,21861249,2,0,2,35.00,2,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df.to_csv('C:/Users/tdougherty1/OneDrive - Bryant University/Desktop/MSBA Summer 24/AAA Files/AAA_Travel_file2.csv')