In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

In [2]:
dftrain=pd.read_csv('AAATrain.csv')

In [3]:
dftest=pd.read_csv('AAATest.csv')

In [9]:
columns_to_extract = [
    'days_between',
    'rev_index',
    'individual_estimatedhouseholdincome',
    'individual_maritalstatus',
    'individual_tenure',
    'individual_education',
    'individual_occupation'
]

In [10]:
Xtest = dftest[columns_to_extract]

# Assuming 'Florida' is the target column
ytest = dftest['Florida']

# Print a success message
print("Columns extracted successfully.")

Columns extracted successfully.

In [5]:
model = smf.logit(formula='Florida ~ days_between + rev_index + individual_estimatedhouseholdincome + individual_tenure + individual_maritalstatus + individual_tenure + individual_education + individual_occupation + rev_index', data=dftrain).fit()
print(model.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.504876
         Iterations: 35

C:\Users\student\anaconda3\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

                           Logit Regression Results
==============================================================================
Dep. Variable:                Florida   No. Observations:                45800
Model:                          Logit   Df Residuals:                    45761
Method:                           MLE   Df Model:                           38
Date:                Thu, 11 Jul 2024   Pseudo R-squ.:                0.009924
Time:                        18:42:06   Log-Likelihood:                -23123.
converged:                      False   LL-Null:                       -23355.
Covariance Type:            nonrobust   LLR p-value:                 1.385e-74
============================================================================================================================
                                                               coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------------------
Intercept                                                   -1.5366      0.089    -17.285      0.000      -1.711      -1.362
days_between[T.100-250 Days]                                -0.0854      0.035     -2.441      0.015      -0.154      -0.017
days_between[T.31-100 Days]                                  0.2065      0.026      7.854      0.000       0.155       0.258
days_between[T.>250 Days]                                   -0.7461      0.073    -10.186      0.000      -0.890      -0.603
rev_index[T.2nd Quartile]                                   -0.2405      0.282     -0.852      0.394      -0.794       0.313
rev_index[T.3rd Quartile]                                    1.4874      0.681      2.185      0.029       0.153       2.822
rev_index[T.4th Quartile]                                   -6.5882     51.415     -0.128      0.898    -107.360      94.184
rev_index[T.Missing_Trav_Rev]                                0.2238      0.025      8.967      0.000       0.175       0.273
individual_estimatedhouseholdincome[T.$150K - $199K]        -0.0571      0.048     -1.188      0.235      -0.151       0.037
individual_estimatedhouseholdincome[T.$200K+]               -0.0041      0.041     -0.100      0.920      -0.084       0.076
individual_estimatedhouseholdincome[T.$25K - $49K]          -0.2158      0.061     -3.557      0.000      -0.335      -0.097
individual_estimatedhouseholdincome[T.$50K - $74K]          -0.0612      0.051     -1.200      0.230      -0.161       0.039
individual_estimatedhouseholdincome[T.$75K - $99K]          -0.1541      0.049     -3.131      0.002      -0.251      -0.058
individual_estimatedhouseholdincome[T.Less than $25,000]    -0.2630      0.082     -3.200      0.001      -0.424      -0.102
individual_estimatedhouseholdincome[T.Unknown]              -0.1558      0.058     -2.688      0.007      -0.269      -0.042
individual_tenure[T.11 - 15 Years]                           0.2867      0.066      4.325      0.000       0.157       0.417
individual_tenure[T.16+ Years]                               0.1227      0.061      2.015      0.044       0.003       0.242
individual_tenure[T.2 Years]                                 0.1074      0.066      1.636      0.102      -0.021       0.236
individual_tenure[T.3 Years]                                 0.0962      0.082      1.178      0.239      -0.064       0.256
individual_tenure[T.4 - 6 Years]                             0.1700      0.068      2.508      0.012       0.037       0.303
individual_tenure[T.7 - 10 Years]                            0.1922      0.066      2.903      0.004       0.062       0.322
individual_tenure[T.Unknown]                                 0.1220      0.066      1.859      0.063      -0.007       0.251
individual_maritalstatus[T.Single]                          -0.1428      0.039     -3.621      0.000      -0.220      -0.066
individual_maritalstatus[T.Unknown]                         -0.1249      0.046     -2.686      0.007      -0.216      -0.034
individual_education[T.Graduate School]                     -0.0327      0.047     -0.699      0.484      -0.124       0.059
individual_education[T.HS Diploma]                           0.1369      0.046      2.997      0.003       0.047       0.227
individual_education[T.Less than HS Diploma]                -0.0311      0.080     -0.387      0.699      -0.188       0.126
individual_education[T.Some College]                         0.1113      0.042      2.630      0.009       0.028       0.194
individual_education[T.Unknown]                              0.0827      0.056      1.465      0.143      -0.028       0.193
individual_occupation[T.Executive/Administrator]             0.0789      0.128      0.614      0.539      -0.173       0.331
individual_occupation[T.Middle Management]                   0.0201      0.109      0.185      0.853      -0.193       0.233
individual_occupation[T.Nurse]                               0.0180      0.101      0.179      0.858      -0.180       0.216
individual_occupation[T.Other]                               0.0774      0.062      1.246      0.213      -0.044       0.199
individual_occupation[T.Professional/Technical]             -0.0464      0.070     -0.661      0.509      -0.184       0.091
individual_occupation[T.Retired]                            -0.0911      0.127     -0.716      0.474      -0.341       0.158
individual_occupation[T.Sales/Marketing]                     0.0749      0.121      0.619      0.536      -0.162       0.312
individual_occupation[T.Skilled Trade/Machine/Laborer]       0.1620      0.083      1.957      0.050      -0.000       0.324
individual_occupation[T.Unknown]                             0.0234      0.061      0.381      0.703      -0.097       0.144
individual_occupation[T.Upper Management/Executive]          0.2842      0.105      2.712      0.007       0.079       0.490
============================================================================================================================

In [11]:
Xtest = dftest[['days_between', + 'rev_index', 'individual_estimatedhouseholdincome', 'individual_maritalstatus', 'individual_tenure','individual_education', 'individual_occupation']]
ytest = dftest['Florida']

TypeError: bad operand type for unary +: 'str'

In [12]:
dest1_yhat = model.predict(Xtest)

In [13]:
dftest['dest1_yhat'] = dest1_yhat

In [14]:
print(dest1_yhat)

0        0.157128
1        0.258709
2        0.278617
3        0.204798
4        0.200693
           ...
45795    0.219166
45796    0.209823
45797    0.260101
45798    0.193166
45799    0.177234
Length: 45800, dtype: float64

In [15]:

dftest = dftest.sort_values(by = 'dest1_yhat', ascending = False)

In [16]:
dftest['dest1_Quintile'] = pd.qcut(dftest['dest1_yhat'], 5, labels=[i for i in range (5, 0, -1)])

In [17]:
print(dftest['dest1_Quintile'])

20120    1
27709    1
35853    1
27181    1
9695     1
        ..
31526    5
25913    5
18202    5
28024    5
22062    5
Name: dest1_Quintile, Length: 45800, dtype: category
Categories (5, int64): [5 < 4 < 3 < 2 < 1]

In [18]:
dftest['dest1_Quintile'] = dftest['dest1_Quintile'].astype('int')

In [25]:
dest1_travelers = pd.crosstab(dftest['dest1_Quintile'], dftest['Florida'], normalize='index')

In [26]:
print(dest1_travelers)

Florida                0         1
dest1_Quintile
1               0.744588  0.255412
2               0.773530  0.226470
3               0.803756  0.196244
4               0.789386  0.210614
5               0.847333  0.152667

In [27]:
dftest.to_csv('Model 1.csv')