In [26]:
import pandas as pd
import numpy as np

In [27]:
df=pd.read_csv("AAA_Travel_file2.csv")

In [28]:
df.shape

(91600, 122)

In [29]:
df.head()

,Unnamed: 0,travel_individual_id,travel_total_bookings,travel_num_cancelled_bookings,travel_num_active_bookings,travel_daysbetween_booking_depart,travel_revenue_index,travel_tripvalue_index,travel_provide_name_american_airlines_inc,travel_provide_name_bedsonline_travel_bound,...,travel_destination_LAX,travel_destination_MCO,travel_destination_MIA,travel_destination_ORL,travel_destination_PBI,travel_destination_RSW,travel_destination_SAN,travel_destination_TPA,Florida,SoCal
0,0,32714309,1,0,1,3.00,1,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,34072473,3,1,2,20.67,0,7,0,0,...,0,0,0,0,0,0,1,0,0,1
2,2,270300690,1,0,1,25.00,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,34133332,1,0,1,5.00,2,3,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,21861249,2,0,2,35.00,2,4,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
df.describe(include='all')

,Unnamed: 0,travel_individual_id,travel_total_bookings,travel_num_cancelled_bookings,travel_num_active_bookings,travel_daysbetween_booking_depart,travel_revenue_index,travel_tripvalue_index,travel_provide_name_american_airlines_inc,travel_provide_name_bedsonline_travel_bound,...,travel_destination_LAX,travel_destination_MCO,travel_destination_MIA,travel_destination_ORL,travel_destination_PBI,travel_destination_RSW,travel_destination_SAN,travel_destination_TPA,Florida,SoCal
count,91600.000000,9.160000e+04,91600.000000,91600.000000,91600.000000,91600.000000,91600.000000,91600.000000,91600.000000,91600.000000,...,91600.000000,91600.000000,91600.000000,91600.000000,91600.000000,91600.000000,91600.000000,91600.000000,91600.000000,91600.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,45799.500000,1.365459e+08,1.773985,0.257227,1.516758,62.735688,1.575328,3.432293,0.036179,0.006092,...,0.018646,0.075524,0.018668,0.028352,0.022522,0.020699,0.016921,0.028297,0.206801,0.035087
std,26442.786666,1.978266e+08,1.696016,0.835419,1.389889,83.490911,1.812281,3.302283,0.186736,0.077812,...,0.135273,0.264236,0.135351,0.165976,0.148374,0.142374,0.128978,0.165821,0.405014,0.184002
min,0.000000,2.330000e+02,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22899.750000,1.282403e+07,1.000000,0.000000,1.000000,9.860000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,45799.500000,2.745785e+07,1.000000,0.000000,1.000000,31.000000,1.000000,3.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,68699.250000,2.380493e+08,2.000000,0.000000,2.000000,80.000000,2.000000,4.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,91599.000000,8.290691e+08,55.000000,44.000000,49.000000,1298.000000,48.000000,150.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [37]:
df['total_trips'] = pd.cut(df['travel_total_bookings'],
                      bins=[-2, 0, 2, float('Inf')],
                      labels=['bookings_missing', 'one_booking', 'more_than_one_booking'])
just_dummies = pd.get_dummies(df['total_trips'], dtype=int)
df = pd.concat([df, just_dummies], axis=1) 
df['total_trips'].describe()

count           91600
unique              2
top       one_booking
freq            77949
Name: total_trips, dtype: object

In [38]:
df[['bookings_missing', 'one_booking','more_than_one_booking']].describe()

,missing,missing,missing,missing,one_booking,one_booking,one_booking,one_booking,more_than_one_booking,more_than_one_booking,more_than_one_booking,more_than_one_booking
count,91600.0,91600.0,91600.0,91600.0,91600.000000,91600.000000,91600.000000,91600.000000,91600.000000,91600.000000,91600.000000,91600.000000
mean,0.0,0.0,0.0,0.0,0.850972,0.850972,0.850972,0.850972,0.149028,0.149028,0.149028,0.149028
std,0.0,0.0,0.0,0.0,0.356118,0.356118,0.356118,0.356118,0.356118,0.356118,0.356118,0.356118
min,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.0,0.0,0.0,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,0.0,0.0,0.0,0.0,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,0.0,0.0,0.0,0.0,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,0.0,0.0,0.0,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
np.random.seed(42)
dftrain = df.sample(frac=0.5,random_state=0)
dftest = df.drop(dftrain.index)

In [9]:
dftrain.shape

(45800, 122)

In [10]:
dftest.shape

(45800, 122)

In [12]:
dftrain.to_csv('C:/Users/tdougherty1/OneDrive - Bryant University/Desktop/MSBA Summer 24/AAATrain.csv')
dftest.to_csv('C:/Users/tdougherty1/OneDrive - Bryant University/Desktop/MSBA Summer 24/AAATest.csv')